{% extends 'homebase.html.twig' %}

{% block title %}{{setting[0].title}}{% endblock %}
{% block keywords %}{{setting[0].keywords}}{% endblock %}
{% block description %}{{setting[0].description}}{% endblock %}
{% block slider %}{% include ('home/slider.html.twig')  %}{% endblock %}
{% block body %}

    <!-- News -->

    <div class="news">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="section_title_container text-center">
                        {#                        <div class="section_subtitle">take a look at our</div>#}
                        <div class="section_title">En Son Yüklenen İçerikler</div>
                    </div>
                </div>
            </div>
            <div class="row news_row" >
                {% for rs in newcontent %}
                    <!-- News Item -->
                    <div class="col-lg-4 news_col" >
                        <div class="news_item" >
                            <div class="news_image" >
                                <img src="{{ asset ('uploads/images/' ~rs.image) }}"  alt="https://unsplash.com/@silverhousehd">
                            </div>
                            <div class="news_content">
                                <div class="news_title">{{ rs.title }}</div>
                                {#                            <div class="news_text">#}
                                {#                                <p>Morbi ut dapibus dui. Sed ut iaculis elit, quis varius mauris. Integer ut ultricies orci.</p>#}
                                {#                            </div>#}
                            </div>
                            <div class="news_button"><a a href="{{ path('content_show',{'id': rs.id}) }}">read more</a></div>
                        </div>
                    </div>

                {% endfor %}

            </div>
        </div>
    </div>

    <!-- Intro -->
    <div class="super_container">
        <div class="intro">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card-header">Duyurular</div>
                        <div class="card-body">
                            <div class="card bg-light mb-3" >
                                <div class="card-body">
                                    <h5 class="card-title">Light card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <div class="news_button"> <a href="#" >Read More</a> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card-header">Etkinlikler</div>
                        <div class="card-body">
                            <div class="card bg-light mb-3" >
                                <div class="card-body">
                                    <h5 class="card-title">Light card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <div class="news_button"> <a href="#" >Read More</a> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- Services -->

    <div class="services">
        <div class="container">
            <div class="row">
                <div class="col">
                    <!-- Testimonials Slider -->


                    <div class="services_slider_container">
                        <div class="owl-carousel owl-theme services_slider">
                            {% for rs in announcements %}
                                <!-- Services Item -->
                                <div class="owl-item">
                                    <div class="services_item d-flex flex-column align-items-center justify-content-center" style="height: 15cm ">
                                        <div class="services_item_bg"></div>
                                        <div class="services_icon"  style="height:7cm ; width:7cm"><img class="svg" src="{{ asset ('uploads/images/' ~rs.image) }}"  alt=""></div>
                                        <div class="services_title">{{rs.title}}</div>
                                        <p class="services_text">{{ rs.description }}</p>
                                        <div class="services_link"><a href="{{ path('content_show',{'id': rs.id}) }}">Read More</a></div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                        <div class="services_nav services_prev d-flex flex-column align-items-center justify-content-center"><img src="{{ asset ('assets') }}/images/arrow_l.png" alt=""></div>
                        <div class="services_nav services_next d-flex flex-column align-items-center justify-content-center"><img src="{{ asset ('assets') }}/images/arrow_r.png" alt=""></div>

                    </div>

                </div>
            </div>
        </div>
    </div>


    <!-- Info -->

    <div class="info">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="section_title_container text-center">
                        <div class="section_subtitle">take a look at our</div>
                        <div class="section_title">A simple trading system</div>
                    </div>
                </div>
            </div>
            <div class="row info_row">

                <!-- Info Item -->
                <div class="col-lg-4 info_col">
                    <div class="info_item text-center">
                        <div class="info_image"><img src="{{ asset ('assets') }}/images/info_1.png" alt=""></div>
                        <div class="info_title">Create your wallet</div>
                        <div class="info_text">
                            <p>Sed ut iaculis elit, quis varius mauris. Integer ut ultric ies orci, lobortis egesta s sem. Duis non volutpat arcu. Sed ut iaculis elit, quis varius mauris.</p>
                        </div>
                    </div>
                </div>

                <!-- Info Item -->
                <div class="col-lg-4 info_col">
                    <div class="info_item text-center">
                        <div class="info_image"><img src="{{ asset ('assets') }}/images/info_2.png" alt=""></div>
                        <div class="info_title">Make payments</div>
                        <div class="info_text">
                            <p>Sed ut iaculis elit, quis varius mauris. Integer ut ultric ies orci, lobortis egesta s sem. Duis non volutpat arcu. Sed ut iaculis elit, quis varius mauris.</p>
                        </div>
                    </div>
                </div>

                <!-- Info Item -->
                <div class="col-lg-4 info_col">
                    <div class="info_item text-center">
                        <div class="info_image"><img src="{{ asset ('assets') }}/images/info_3.png" alt=""></div>
                        <div class="info_title">Buy or sell orders</div>
                        <div class="info_text">
                            <p>Sed ut iaculis elit, quis varius mauris. Integer ut ultric ies orci, lobortis egesta s sem. Duis non volutpat arcu. Sed ut iaculis elit, quis varius mauris.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    </div>
{% endblock %}
