
<div class="home">
    <div class="home_slider_container">

        <!-- Home Slider -->

        <div class="owl-carousel owl-theme home_slider">

            <!-- Slider Item -->
            <div class="owl-item">
                <div class="slider_background"  style="background-image:url({{ asset('assets/images/home_slider_1.jpg') }})"></div>
                <div class="home_slider_content text-center">
                    <h1>A new World is coming</h1>
                    <div class="home_slider_text">Donec vel ante rhoncus, posuere nulla quis, interdum nisi. Vestibulum laoreet lacinia diam, eget blandit sem gravida at.</div>
                    <div class="link_button home_slider_button"><a href="#">read more</a></div>
                </div>
            </div>

            <!-- Slider Item -->
            <div class="owl-item">
                <div class="slider_background" style="background-image:url({{ asset('assets/images/home_slider_1.jpg') }})"></div>
                <div class="home_slider_content text-center">
                    <h1>A new World is coming</h1>
                    <div class="home_slider_text">Donec vel ante rhoncus, posuere nulla quis, interdum nisi. Vestibulum laoreet lacinia diam, eget blandit sem gravida at.</div>
                    <div class="link_button home_slider_button"><a href="#">read more</a></div>
                </div>
            </div>

            <!-- Slider Item -->
            <div class="owl-item">
                <div class="slider_background" style="background-image:url({{ asset('assets/images/home_slider_1.jpg') }})"></div>
                <div class="home_slider_content text-center">
                    <h1>A new World is coming</h1>
                    <div class="home_slider_text">Donec vel ante rhoncus, posuere nulla quis, interdum nisi. Vestibulum laoreet lacinia diam, eget blandit sem gravida at.</div>
                    <div class="link_button home_slider_button"><a href="#">read more</a></div>
                </div>
            </div>

            <!-- Slider Item -->
            <div class="owl-item">
                <div class="slider_background" style="background-image:url({{ asset('assets/images/home_slider_1.jpg') }})"></div>
                <div class="home_slider_content text-center">
                    <h1>A new World is coming</h1>
                    <div class="home_slider_text">Donec vel ante rhoncus, posuere nulla quis, interdum nisi. Vestibulum laoreet lacinia diam, eget blandit sem gravida at.</div>
                    <div class="link_button home_slider_button"><a href="#">read more</a></div>
                </div>
            </div>

        </div>

        <div class="home_slider_nav home_slider_prev d-flex flex-column align-items-center justify-content-center"><img src ="{{ asset ('assets') }}/images/arrow_l.png" alt=""></div>
        <div class="home_slider_nav home_slider_next d-flex flex-column align-items-center justify-content-center"><img src ="{{ asset ('assets') }}/images/arrow_r.png" alt=""></div>

    </div>
</div>
		