{% extends 'homebase.html.twig' %}

{% block title %}{{ app.user.name }}Profile{% endblock %}

{% block body %}
    <script language="JavaScript" type="text/javascript">
        function openWin( windowURL, windowName, windowFeatures) { window.open( windowURL, windowName, windowFeatures);
        }
    </script>
    <br><br><br><br><br><br><br><br><br><br>
    <!-- News -->
    <div class=" contact">

        <div class="section_title_container text-lg-center">
            <div class="section_title">My Comment List</div> {{ include ('user/usermenu.html.twig') }}
        </div>
        {#        {{ include ('user/usermenu.html.twig') }}#}
        <div class="row news_row">
            <div class="news_item">
                <div class="news_content">
                    <div class="news_text">
                        <!-- News Post -->
                        <a href="{{ path('user_content_new') }}" class="btn btn-primary">Add new Content</a>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Subject</th>
                                <th>Comment</th>
                                <th>Status</th>
                                <th>Content</th>
                                <th>Created_at</th>
                                <th>Rate</th>
                                <th>actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for comment in comments %}
                                <tr>

                                    <td>{{ comment.subject }}</td>
                                    <td>{{ comment.comment }}</td>
                                    <td>{{ comment.status }}</td>

                                    <td><a href="{{ path('content_show',{'id': comment.id }) }}">{{ comment.title }}</a></td>
                                    <td>{{ comment.created_at }}</td>
                                    <td>{{ comment.rate }}</td>
                                    {#                                        <td>#}
                                    {#                                            <a href="{{ path('admin_comment_show', {'id': comment.id}) }}" class="btn btn-primary">show</a>#}
                                    {#                                        </td>#}
                                    {#                                        <td> <a href="{{ path('admin_comment_edit', {'id': comment.id}) }}" class="btn btn-success">edit</a></td>#}
                                    <td>
                                        {{ include('admin/comment/_delete_form.html.twig') }}
                                    </td>

                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="10">no records found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
{% endblock %}